/*Reset CSS & HTML*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #eaeaea;
  background-color: #001010;
}

input,
select {
  outline: none;
  border: none;
  margin: 1rem;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(192, 192, 192);
}
